In [103]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [104]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1058,tt1535438,30000000,114281051,Hope Springs,Meryl Streep|Steve Carell|Tommy Lee Jones|Jean...,David Frankel,"Sometimes to keep the magic, you need to learn...","After thirty years of marriage, a middle-aged ...",100,Drama|Comedy|Romance,Columbia Pictures|Mandate Pictures|Escape Arti...,8/7/2012,5.6,2012
400,tt0989757,25000000,114977104,Dear John,Amanda Seyfried|Channing Tatum|Henry Thomas|Ri...,Lasse HallstrÃ¶m,Love brought them together will fate tear them...,Sergeant John Tyree is home on a 2 week leave ...,115,Drama|Romance|War,Screen Gems,2/4/2010,6.5,2010
648,tt1125849,6000000,44703995,The Wrestler,Mickey Rourke|Marisa Tomei|Evan Rachel Wood|Aj...,Darren Aronofsky,Love. Pain. Glory.,"Aging wrestler Randy ""The Ram"" Robinson is lon...",109,Drama|Romance,Saturn Films|Wild Bunch|Protozoa Pictures|Top ...,9/7/2008,7.0,2008
1577,tt0318627,45000000,129394835,Resident Evil: Apocalypse,Milla Jovovich|Sienna Guillory|Oded Fehr|Thoma...,Alexander Witt,You're all going to die.,"As the city is locked down under quarantine, A...",94,Horror|Action|Science Fiction,Impact Pictures|Constantin Film Ltd.,9/10/2004,6.1,2004
1218,tt1288558,17000000,97542952,Evil Dead,Jane Levy|Jessica Lucas|Shiloh Fernandez|Lou T...,Fede Alvarez,The most terrifying film you will ever experie...,"Evil Dead, the fourth installment of the Evil ...",91,Horror,TriStar Pictures|Ghost House Pictures|FilmDist...,4/5/2013,6.3,2013

In [105]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [106]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [107]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [108]:
mdata = data[['original_title', 'imdb_id' ,'budget']] #делаем выборку и создаем дата фрейм из ID , названия и бюджета

display(mdata[data.budget == data.budget.max()]) #делаем срез по максимальному (max) бюджету (budget)

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [109]:
#если выборку и срез поменять местами
mdata = data[data.budget ==data.budget.max()]
print(mdata[['original_title', 'imdb_id']])

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [110]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
#answers['2'] = '...'

In [111]:
#алгоритм получения среза аналогичен  вопросу 1
mdata = data[data.runtime == data.runtime.max()]
print((mdata['original_title'])+ ' ('+ mdata['imdb_id']+ ')')
answers['2'] = '2. Gods and Generals (tt0279111)'

1157    Gods and Generals (tt0279111)
dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [112]:
mdata = data[data.runtime == data.runtime.min()]
print((mdata['original_title'])+ ' ('+ mdata['imdb_id']+ ')')
answers['3'] = '3. Winnie the Pooh (tt1449283)'

768    Winnie the Pooh (tt1449283)
dtype: object

# 4. Какова средняя длительность фильмов?

In [113]:
round(data.runtime.mean()) #
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [148]:
round(data.runtime.median())
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [115]:
# лучше код получения столбца profit вынести в Предобработку что в начале
pdata = data.copy()
pdata['profit']=pdata['revenue']-pdata['budget'] #добавим столбец 'profit'
mdata = pdata[pdata.profit == pdata.profit.max()]
print((mdata['original_title'])+ ' ('+ mdata['imdb_id']+ ')')
answers['6'] = '5. Avatar (tt0499549)'

239    Avatar (tt0499549)
dtype: object

# 7. Какой фильм самый убыточный?

In [116]:

pdata = data.copy()
pdata['profit']=pdata['revenue']-pdata['budget'] #добавим столбец 'profit'
mdata = pdata[pdata.profit == pdata.profit.min()]
print((mdata['original_title'])+ ' ('+ mdata['imdb_id']+ ')')
answers['7'] = '5. The Lone Ranger (tt1210819)'

1245    The Lone Ranger (tt1210819)
dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [117]:
pdata = data.copy()
pdata['profit']=pdata['revenue']-pdata['budget'] #добавим столбец 'profit'
print(len(pdata[pdata.profit > 0].index))        #вычисляем количество зачений индексов фильмов с положительными сборами
answers['8'] = '1. 1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [118]:
mdata = data[data.revenue == data[data.release_year == 2008].revenue.max()] #срез
print((mdata['original_title'])+ ' ('+ mdata['imdb_id']+ ')')
answers['9'] = '4. The Dark Knight (tt0468569)'

599    The Dark Knight (tt0468569)
dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [119]:
pdata = data.copy()
pdata['profit']=pdata['revenue']-pdata['budget']
rdata = pdata[(pdata.release_year >= 2012) & (pdata.release_year <= 2014 )]
mdata = rdata[rdata.profit == rdata.profit.min()]
print((mdata['original_title'])+ ' ('+ mdata['imdb_id']+ ')')
answers['10'] = '5. The Lone Ranger (tt1210819)'

1245    The Lone Ranger (tt1210819)
dtype: object

# 11. Какого жанра фильмов больше всего?

In [120]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
dd = data.genres.str.split('|') # колонку 
de = dd.sum()
ds =pd.Series((v[:] for v in de))
ds.value_counts().index[0]
answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [121]:
data = pd.read_csv('movie_bd_v5.csv')
pdata = data.copy()
pdata['profit']=pdata['revenue']-pdata['budget']
pdata['genres_all'] = pdata['genres'].str.split('|')
pdata = pdata.explode('genres_all')
profit_pdata = pdata[(pdata.profit > 0)]
profit_pdata['genres_all'].value_counts(ascending=False).index[0]
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [122]:
data = pd.read_csv('movie_bd_v5.csv') #
pdata = data.copy()                   #
pdata['director'] = pdata['director'].str.split('|')
pdata = pdata.explode('director')
pdata.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [123]:
data = pd.read_csv('movie_bd_v5.csv') #
pdata = data[data.genres.str.contains('Action')].copy()                   #
pdata['director'] = pdata['director'].str.split('|')
pdata = pdata.explode('director')
pdata.director.value_counts().index[0]
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [124]:
data = pd.read_csv('movie_bd_v5.csv') #
pdata = data[data.release_year == 2012].copy()                   #
pdata['cast'] = pdata['cast'].str.split('|')
pdata = pdata.explode('cast')
pdata.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [125]:
data = pd.read_csv('movie_bd_v5.csv') #
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [126]:
data = pd.read_csv('movie_bd_v5.csv') #
pdata = data.copy()                   #
pdata['cast'] = pdata['cast'].str.split('|')
pdata = pdata.explode('cast')
pd.Series(pdata[pdata.cast == 'Nicolas Cage'].genres.str.split('|').sum()).value_counts().index[0]
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [127]:
data = pd.read_csv('movie_bd_v5.csv')
pdata = data[data.production_companies.str.contains('Paramount Pictures')].copy()
pdata['profit']=pdata['revenue']-pdata['budget']
rdata = pdata.sort_values(by = 'profit').head(1)
print((rdata['original_title'])+ ' ('+ rdata['imdb_id']+ ')')
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

925    K-19: The Widowmaker (tt0267626)
dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [128]:
data = pd.read_csv('movie_bd_v5.csv') #
pdata = data.copy() 
pdata.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [129]:
data = pd.read_csv('movie_bd_v5.csv')
pdata = data[data.production_companies.str.contains('Warner Bros')].copy()
pdata['profit']=pdata['revenue']-pdata['budget']
pdata.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [142]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].str.split('/')
data['months'] = data['release_date'].apply(lambda x: x[0]) 
data['months'].value_counts(ascending=False).index[0]
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [143]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].str.split('/')
data['months'] = data['release_date'].apply(lambda x: x[0]) 
months_df = data['months'].value_counts(ascending=False)
print(months_df['6']+months_df['7']+months_df['8'])
answers['22'] = '2. 450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [132]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].str.split('/')
data['months'] = data['release_date'].apply(lambda x: x[0])
pdata = data[((data.months == '1') | (data.months == '2') | (data.months == '12') )].copy()
pdata['director'] = pdata['director'].str.split('|')
pdata = pdata.explode('director')
pdata.director.value_counts().index[0]
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [133]:
data = pd.read_csv('movie_bd_v5.csv')
pdata = data.copy()
pdata['title_len'] = pdata['original_title'].apply(lambda x: len(x))
pdata['production_companies'] = pdata['production_companies'].apply(lambda x: x.split(sep = '|'))
pdata = pdata.explode('production_companies')
pdata.groupby(['production_companies'])['title_len'].mean().sort_values(ascending=False).index[0]
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [134]:
data = pd.read_csv('movie_bd_v5.csv')
pdata = data.copy()
pdata['overview'] = pdata['overview'].apply(lambda x: len(x))
pdata['production_companies'] = pdata['production_companies'].apply(lambda x: x.split(sep = '|'))
pdata = pdata.explode('production_companies')
pdata.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)
pdata[pdata.overview >= pdata.overview.mean()].production_companies.value_counts().index[0]
answers['25'] = '1. Universal Pictures'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [135]:
data = pd.read_csv('movie_bd_v5.csv')
data[data["vote_average"] > (data["vote_average"].quantile(0.99))].original_title
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [145]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
pdata = data.copy()
pdata['cast'] = pdata['cast'].apply(lambda x:x.split('|'))
pdata['combine'] = pdata['cast'].apply(lambda s: list(combinations(s, 2)))
pdata = pdata.explode('combine')
collections.Counter(pdata['combine']).most_common(5)
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [150]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '1. Universal Pictures',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '21': '4. Сентябрь',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '5': '1. 107'}

In [151]:
# и убедиться что ни чего не пропустил)
len(answers)

27